{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>world!</title>
    <link rel="stylesheet" href="https://bootswatch.com/superhero/bootstrap.min.css">
    <style>
        body { padding-bottom: 70px; }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  </head>
  <body>

    <div class="container">
        <div class="page-header row">
        <div class="col-xs-6 col-md-3">
            <a class="thumbnail">
                <img src="{% static "img/small-fundraising-heart.png" %}">
                <div class="caption">
                    <h1 class="media-heading">world!</h1>
                    <p class="lead">hello {{ request.user.email }}</p>
                </div>
            </a>
        </div>
        </div>
        {% block content %}
            <a href="{% url 'youngsters:login' %}" class="btn btn-default">Login</a>
            <a href="{% url 'contact:form' %}" class="btn btn-default">Contact form</a>
        {% endblock %}
    </div>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  </body>
</html>
